body{
  background-color: rgba(12, 97, 69, 0.712);
  color: rgb(5, 46, 80);
}
hr{
  box-shadow: 9px 7px 5px rgba(223, 152, 152, 0.77);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.verde{
  background-color: rgb(0, 255, 0);
  border: #0f0 solid 1px;
  box-shadow: 9px 7px 5px rgba(56, 248, 56, 0.4);
}
.amarelo{
  background-color: yellow;
  border: rgb(208, 255, 0) solid 1px;
  box-shadow: 9px 7px 5px rgba(238, 255, 0, 0.4);
}
.vermelho{
  background-color: #f00;
  border: rgb(248, 65, 9) solid 1px;
  box-shadow: 9px 7px 5px rgba(255, 108, 10, 0.4)
}