*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
header{
  padding: 15px 0;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
header nav ul{
  list-style: none;
  text-align: center;
}
header nav ul li{
  display: inline;
}
header nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 2px 10px;
  display: inline-block;
}
header nav ul li a:hover{
  color: #b6dbf1;
}
  section {
  border: 1px solid;
  height: 400px;
}
section:nth-child(even){
  background-color: #3c4f60;
}
section,footer{
  padding-top: 60px;
  padding-bottom: 60px;
}
.banner{
  display: flex;
}
.banner img{
  width: 100%;
}
.borda0{
  border: none;
}
.borda1{
  border: 1px solid #000;
}
.borda2{
  border: 2px solid #f00;
}
.flexivel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
article{
  width: 100%;
}
